.book_h{
    position: relative;
    
}

.book_p{
    position: relative;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
   
}

.b_details {
    text-align: center;
    padding: 0px 30px;
}

.field {
    padding: 0px 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    width: 50%;
    line-height: 45px;
    
    border: 1.5px solid #F2F2F2;
    margin: 10px 0px;
   
}


.submit_btn {
    
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    color: white;
    background: gray;
    border: 2px solid gray;
    line-height: 50px;
    margin-bottom: 50px;
}

