.book_h{
    position: relative;
    
}

.book_p{
    position: relative;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
   
}

.b_details {
    text-align: center;
    padding: 0px 30px;
}

.field {
    padding: 0px 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    width: 50%;
    line-height: 45px;
    
    border: 1.5px solid #F2F2F2;
    margin: 10px 0px;
   
}


.submit_btn {
    
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    color: white;
    background: gray;
    border: 2px solid gray;
    line-height: 50px;
    margin-bottom: 50px;
}

/* Mobile responsive styles */
@media (max-width: 768px) {
    .book_p {
        font-size: 1.5rem !important;
    }

    .b_details {
        padding: 0px 15px !important;
    }

    .field {
        width: 100% !important;
        font-size: 16px !important;
        line-height: 40px !important;
        padding: 0px 15px !important;
    }

    .submit_btn {
        font-size: 18px !important;
        line-height: 45px !important;
        width: 100% !important;
        margin-bottom: 30px !important;
        padding: 10px !important;
    }
}

@media (max-width: 480px) {
    .book_p {
        font-size: 1.2rem !important;
    }

    .b_details {
        padding: 0px 10px !important;
    }

    .field {
        font-size: 14px !important;
        line-height: 35px !important;
        padding: 0px 10px !important;
    }

    .submit_btn {
        font-size: 16px !important;
        line-height: 40px !important;
        padding: 8px !important;
    }
}

